body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#info {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #f7f7f7;  /* Light grey background */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.category {
    margin-bottom: 20px;
    background-color: #f0f0f0;  /* Slightly darker grey background for each category */
    padding: 20px;
    border-radius: 5px;
}

.category h2 {
    color: #007BFF;  /* Blue text for category titles */
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}